.header {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  height: 100vh;
  justify-content: space-between;
  width: 20vw;

}

.header nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 80vh;
  justify-content: center;
  width: 100vw;
}

.link {
  text-decoration: none;
}

.info-user {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.image-profile {
  border-radius: 100%;
  width: 25%;
}
