.search form {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 30%;
  justify-content: center;
  width: 100%;
}

.search input {
  background: #ffffff80;
  border-radius: 23px;
  height: 10%;
  width: 25%;


}

.search button {
  background: white;
  border-radius: 23px;
  height: 10%;
  width: 10%;
}

.music-content {
  margin-top: 10px;
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 68.5%;
  overflow-y: scroll;
  width: 100%;

}


.search {
  display: flex;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
}

.albuns {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px;
  width: 250px;

}

.albuns img {
  border-radius: 10px;
  height: 200px;
  width: 200px;

}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 248.45px;
  justify-content: center;
  width: 1100px;

}

.container-search {
  width: 80%;
}

@media screen and (max-width: 768px){
  .search {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100vh;
  }
  .search form {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 25%;
    justify-content: center;
    width: 100%;
  }
  
  .search input {
    background: #ffffff80;
    border-radius: 23px;
    height: 40px;
    width: 200px;
  
  
  }
  
  .search button {
    background: white;
    border-radius: 23px;
    height: 40px;
    width: 114px;
  }
  
  .music-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
  
  }
  
  
  
  .albuns {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  
  }
  
  .albuns img {
    border-radius: 10px;
    height: 200px;
    width: 100%;
  
  }
  
  .cards {
    display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width: 50%;
   gap: 20px;
  
  }
  
  .container-search {
    width: 120vw;
    height: 120%;

  }
  


}
